/* Colores
1: #024959 - Azul oscuro
2: #04ADBF - Azul iluminado
3: #037F8C - Azul neutro
4: #F2F2F2 - Blanco
5: #0D0D0D - Negro
6: #D4D952 - Amarillo
*/

.Characters__container {
  width: 31%;
  margin: 0.7rem .5rem;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 5px;
  height: 200px;
  -webkit-box-shadow: 2px 5px 7px -4px #fff; 
  box-shadow: 2px 5px 7px -4px #fff;
  background: #F2F2F2;
  color: #024959;
}

.Characters__avatar {
  max-width: 120px;
  max-height: 120px;
  margin-right: 0.5rem;
}

.Characters__info {
  width: 55%;
}

.Characters__title {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  color: #0D0D0D;
}

.Characters__subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  font-weight: 500;
  margin: 0.2rem 0;
}

.bold {
  font-weight: 700;
}

.Characters__search-error {
  text-align: center;
}